---
import Header from "../components/Header";
import "../styles/tailwind.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="font-montserrat">
    <Header />
    <main class="container mx-auto">
      <slot />
    </main>
  </body>
</html>
